rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 0. Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // Helpers
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isEmailVerified() {
      return isSignedIn() && request.auth.token.email_verified == true;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isSignedIn() && 
        (request.auth.token.email == "gideonfang1994@gmail.com" && isEmailVerified());
    }

    function incoming() {
      return request.resource.data;
    }

    match /users/{userId} {
      // Leaderboard requires public reading of user profiles
      allow read, get, list: if true;
      
      // Users can only manage their own profile
      allow create, update: if (isOwner(userId) && 
                      incoming().uid == userId && 
                      !(incoming().keys().contains('role'))
                    ) || isAdmin();

      allow delete: if isAdmin();
    }
  }
}
